# ==== Authentication policy ===============================================
PermitRootLogin no
PermitEmptyPasswords no
PasswordAuthentication no
ChallengeResponseAuthentication no
KbdInteractiveAuthentication no
UsePAM yes
MaxAuthTries {{ ssh_max_auth_tries }}
MaxSessions {{ ssh_max_sessions }}
StrictModes yes
AllowGroups {{ ssh_allow_groups | join(' ') }}
